.texto_emul {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    margin: auto;
    width: 840px;
    color: $color_texto;
    p {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-bottom: none;
    }
    @media (max-width: 420px) {
        width: 410px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.emul_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width: 420px) {
       flex-direction: column; 
    }
}

.texto_emul_cont {
    margin-top: 10px;
    margin-bottom: 50px;
}

.imag_emu {
    margin-left: 10px;
    @media (max-width: 420px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
